{% extends 'auth_base.html' %}
{% load static %}

{% block title%}
{{group_object.name}}'s users
{% endblock%}

{% block style %}
{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- <h1 class="h3 mb-2 text-gray-800">{{request.user.get_full_name}}</h1> -->
    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p> -->


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{group_object.name}} groups's users</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <script>

                    var group_id_to_show_user = {{ group_object.id }}

                    var url = `/api/users/?group_id_to_show_user=${group_id_to_show_user}`;

                    $(document).ready(function () {
                        $('#dataTable').DataTable({
                            processing: true,
                            serverSide: true,
                            start: 0,
                            length: 10,

                            columns: [

                                {
                                    data: 'username'
                                },
                                {
                                    data: 'first_name'
                                },
                                {
                                    data: 'last_name'
                                }
                            ],

                            ajax: {
                                url: url,
                            },
                        });
                    });
                </script>

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

{% endblock content %}

{% block script %}

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}