{% extends 'auth_base.html' %}
{% load static %}

{% block title%}
profile
{% endblock%}

{% block style %}
{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">


    {% if request.user != user_object %}
    {% if request.user.user_type.name != "user" %}
    <a href="/user/make_manager/{{user_object.id}}/" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-check"></i>
        </span>
        <span class="text">Make Manager</span>
    </a>
    <br>
    <br>
    {% endif %}
    {% endif%}



    <!-- Page Heading -->
    <!-- <h1 class="h3 mb-2 text-gray-800">{{request.user.get_full_name}}</h1> -->
    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p> -->


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Credentials of {{user_object.get_full_name}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <script>
                    user_id = {{ user_object.id }}
                    console.log(user_id)
                    var url = `/api/credentials/?user_id=${user_id}`;

                    $(document).ready(function () {
                        $('#dataTable').DataTable({

                            processing: true,
                            serverSide: true,
                            start: 0,
                            length: 4,

                            columns: [

                                {
                                    data: 'product'
                                },
                                {
                                    data: 'username'
                                },
                                {
                                    data: 'password'
                                }
                            ],

                            ajax: {
                                url: url,
                            },
                        });
                    });
                </script>

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Username</th>
                            <th>Password</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

{% endblock content %}

{% block script %}

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}